SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
XLAYER_RPC_URL=https://rpc.xlayer.tech
XLAYER_CHAIN_ID=196
XLAYER_EXPLORER_BASE_URL=https://www.oklink.com/xlayer
XLAYER_SETTLEMENT_PRIVATE_KEY=
XLAYER_SETTLEMENT_TOKEN_ADDRESS=0x1E4a5963aBFD975d8c9021ce480b42188849D41d
XLAYER_SETTLEMENT_TOKEN_SYMBOL=USDT
XLAYER_SETTLEMENT_TOKEN_DECIMALS=6
XLAYER_SETTLEMENT_TO_ADDRESS=
ADMIN_API_TOKEN=
RESEND_API_KEY=
FALLBACK_ALERT_FROM_EMAIL=
FALLBACK_CALLBACK_SIGNING_SECRET=
AGENT_VERIFY_SECRET=
