SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
DEFAULT_SETTLEMENT_RAIL=bnb
NEXT_PUBLIC_DEFAULT_SETTLEMENT_RAIL=bnb
NEXT_PUBLIC_SETTLEMENT_TOKEN_SYMBOL=USDT
NEXT_PUBLIC_SETTLEMENT_TOKEN_NAME=USDT
BNB_RPC_URL=https://bsc-dataseed.binance.org
BNB_CHAIN_ID=56
BNB_EXPLORER_BASE_URL=https://bscscan.com
BNB_SETTLEMENT_PRIVATE_KEY=
BNB_SETTLEMENT_TOKEN_ADDRESS=
BNB_SETTLEMENT_TOKEN_SYMBOL=USDT
BNB_SETTLEMENT_TOKEN_DECIMALS=18
BNB_SETTLEMENT_TO_ADDRESS=
NEXT_PUBLIC_BNB_DEMO_OPERATOR_WALLET=
XLAYER_RPC_URL=https://rpc.xlayer.tech
XLAYER_CHAIN_ID=196
XLAYER_EXPLORER_BASE_URL=https://www.oklink.com/xlayer
XLAYER_SETTLEMENT_PRIVATE_KEY=
XLAYER_SETTLEMENT_TOKEN_ADDRESS=0x1E4a5963aBFD975d8c9021ce480b42188849D41d
XLAYER_SETTLEMENT_TOKEN_SYMBOL=USDT
XLAYER_SETTLEMENT_TOKEN_DECIMALS=6
XLAYER_SETTLEMENT_TO_ADDRESS=
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_NETWORK=mainnet-beta
SOLANA_EXPLORER_BASE_URL=https://explorer.solana.com
SOLANA_SETTLEMENT_PRIVATE_KEY=
SOLANA_SETTLEMENT_TO_ADDRESS=
NEXT_PUBLIC_SOLANA_DEMO_OPERATOR_WALLET=
NEXT_PUBLIC_XLAYER_DEMO_OPERATOR_WALLET=
ADMIN_API_TOKEN=
RESEND_API_KEY=
FALLBACK_ALERT_FROM_EMAIL=
FALLBACK_CALLBACK_SIGNING_SECRET=
AGENT_VERIFY_SECRET=
